fastapi
uvicorn[standard]
pymongo
pydantic
python-dotenv
requests
joblib
xgboost
scikit-learn
numpy
google-genai
beautifulsoup4
pandas
pillow
tensorflow
python-multipart
werkzeug
twilio
huggingface_hub